* {

    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0;
    /* border: 1px solid red; */
}

a,
a:visited {
    text-decoration: none;
    color: unset;
}

html {
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    --defaultGrey: #9B9B9B;
    --defaultBlue: #0038FE;
    --defaultLightBlue: #00b6fe;
}

h1 {
    font-size: 36px;
}



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;

}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerContainer ul,li {
    display: flex;
    gap: 30px;
}


.headerContainer a::after, .headerContainer a:active::after  {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--defaultBlue);
    transition: width ease-in-out .3s;
}

.headerContainer a:hover::after {
    width: 100%;
}

.headerContainer a:active::after {
    width: 100%;
}


.logo {
    width: 80px;
}


.sectionContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    justify-content: center;
    padding: 60px;
    
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section.s1 {
    min-height: calc(100vh - 90px);
}

.section .col1,.section .col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px;
    width: 100%;
}

.col2 img {
    height: 300px;
}

.containerTitle {
    width: 80%;
}

.gradientText {
    background-color: #00DBDE;
    background: linear-gradient(90deg, var(--defaultBlue) 0%, var(--defaultLightBlue) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--defaultBlue);
}

