* {
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 0.01em solid #808080; */
  transition: all ease-in-out 0.5s;
  box-sizing: border-box;
  color: var(--black);
}

a,
a:visited {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  --defaultGrey: #9b9b9b;
  --defaultBlue: #0038fe;
  --defaultLightBlue: #00b6fe;
  --white: white;
  --black: #1a1a1a;
  --defaultShadow: 10px 10px 30px -10px rgb(0 0 0 / 15%), 5px 5px 10px -5px rgb(0 0 0 / 9%);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Mobile Devices */
@media (max-width: 992px) {
  html {
    --sectionPadding: 10px;
    --rowPadding: 10px;
    --columnPadding: 10px;
    --headerHeight: 60px;
    --rowGap: 20px;
  }

  .sectionContainer {
    padding: var(--sectionPadding);
  }

  h1 {
    font-size: 32px;
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--headerHeight);
    background-color: white;
    z-index: 999;
  }

  .headerShrink {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    font-size: 14px;
    padding: 15px 0;
    z-index: 999;
    box-shadow: var(--defaultShadow);
  }

  .headerShrink img {
    width: 80% !important;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    max-width: 70px;
  }

  .desktopNav {
    display: none;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .headerContainer ul {
    display: flex;
    gap: 30px;
  }

  #scrollDownDesktop {
    display: none;
  }

  .wrapperHamburguerMenu {
    display: flex;
    position: relative;
  }

  #hamburguerMenu {
    display: flex;
    width: 50vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 0 0 16px 0;
    box-shadow: var(--defaultShadow);
    border: 1px solid #f1f1f1;
  }

  #hamburguerMenu nav {
    display: flex;
  }

  .bt-menu {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    transition: 0.2s;
  }

  .bt-menu:hover,
  .bt-menu:focus {
    box-shadow: var(--defaultShadow);
  }

  .bt-menu:active {
    transform: scale(0.9);
  }

  .bt-menu:active,
  .bt-menu:focus {
    outline: none;
  }

  .bt-menu .hamburguer {
    width: 32px;
    height: 25px;
    transition: 0.4s;
  }

  .bt-menu .hamburguer,
  .bt-menu .hamburguer .bar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .bt-menu .hamburguer .bar {
    width: 32px;
    height: 5px;
    background: var(--black);
    border-radius: 20px;
    transition: 0.2s;
    outline: 1px solid transparent;
  }

  .bt-menu .hamburguer .bar-1 {
    transform: rotate(0) translate3d(0, -10px, 0);
  }

  .bt-menu .hamburguer .bar-3 {
    transform: rotate(0) translate3d(0, 10px, 0);
  }

  .menu-open .bt-menu .hamburguer {
    transform: rotate(180deg);
  }

  .menu-open .bt-menu .hamburguer .bar-1 {
    transform: rotate(45deg) translate3d(0, 0, 0);
  }

  .menu-open .bt-menu .hamburguer .bar-2 {
    opacity: 0;
  }

  .menu-open .bt-menu .hamburguer .bar-3 {
    transform: rotate(-45deg) translate3d(0, 0, 0);
  }

  .sideMenu {
    display: flex;
  }

  #s1 {
    min-height: calc(100vh - var(--headerHeight));
  }

  nav ul {
    flex-direction: column;
  }

  .sectionContainer .row {
    flex-direction: column;
  }

  section.containerTitle {
    text-align: center;
  }

  #c2 img {
    width: 200px;
    pointer-events: none;
  }

  .hashtags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .hashtags li {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 20px;

  }

  #c1 {
    align-items: center;
    height: calc(45vh - var(--headerHeight));
  }

  #c2 {
    height: calc(40vh - var(--headerHeight));
  }

  .section#s2 {
    padding-bottom: 70px;
  }

  #s3 .sectionContainer {
    margin-top: -120px;
  }

  .tabs {
    transform: scale(0.6);
  }
}

/* End Mobile */

/* Desktop  */
@media (min-width: 992px) {
  html {
    --sectionPadding: 40px;
    --rowPadding: 10px;
    --columnPadding: 20px;
    --headerHeight: 90px;
    --rowGap: 10px;
  }

  .sectionContainer {
    padding: var(--sectionPadding);
  }

  h1 {
    font-size: 48px;
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--headerHeight);
    background-color: white;
    z-index: 999;
  }

  .headerShrink {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
    background: var(--white);
    font-size: 14px;
    padding: 20px 0;
    z-index: 999;
    box-shadow: var(--defaultShadow);
  }

  .headerShrink img {
    width: 80% !important;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    max-width: 80px;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .headerContainer ul {
    display: flex;
    gap: 30px;
  }

  .desktopNav {
    display: flex;
  }

  nav ul {
    flex-direction: row;
  }

  .wrapperHamburguerMenu {
    display: none;
  }

  #scrollDownMobile {
    display: none;
  }

  #s1.sectionContainer {
    min-height: 85vh;
  }

  #s2 .sectionContainer {
    min-height: 45vh;
  }

  #c2 img {
    width: 300px;
    pointer-events: none;
  }

  .sectionContainer .row {
    flex-direction: row;
  }

  section.containerTitle {
    text-align: left;
  }

  .hashtags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 30px;
  }

  .hashtags li {
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 8px;
    cursor: pointer;
  }

  .section#s2 {
    padding-bottom: 70px;
  }

  #s3 .sectionContainer {
    margin-top: -120px;
  }

  #s3 .sectionContainer {
    flex-direction: row;
  }

  .card {
    width: 400px;
  }

}

/* End Desktop */

main {
  width: 100%;
  overflow: hidden;
}

.alignCenter {
  text-align: center;
}

.headerContainer li {
  display: flex;
}

.headerContainer a::after,
.headerContainer a:active::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--defaultBlue);
  transition: width ease-in-out 0.3s;
}

.headerContainer a:hover::after {
  width: 100%;
}

.headerContainer a:active::after {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: var(--rowGap);
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: center;
  padding: var(--rowPadding);
  width: 100%;
  gap: var(--rowGap);
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--columnPadding);
  width: 100%;
  gap: 20px;
}

/* //////////// */

#scrollDown {
  padding: 0;
}

.hashtags li:hover {
  background: #dfdfdf;
}

#myName {
  background-color: #00dbde;
  background: linear-gradient(90deg,
      var(--defaultBlue) 0%,
      var(--defaultLightBlue) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--defaultBlue);
}

.scrollDown {
  text-align: center;
  cursor: pointer;
}

.scrollDown .material-symbols-outlined {
  font-size: 2.4rem;
  animation: mouseScroll infinite 2.6s;
}

.section#s2 {
  background: linear-gradient(90deg,
      var(--defaultBlue) 0%,
      var(--defaultLightBlue) 100%);
  padding-bottom: 70px;
}

#s2 .containerTitle h1 {
  color: white;
}

#s2 p {
  color: white;
  text-align: center;
}

.section#s3 {
  background-color: #f1f1f1;
}

#s3 .sectionContainer .column {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--defaultShadow);
  text-align: center;
}

#s3 .sectionContainer {
  gap: 30px;
  padding: 40px;
}

#s3 .column {
  padding: 30px;
  justify-content: flex-start;
}

.circle {
  background-color: var(--defaultBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 100%;
}

#s3 .material-symbols-outlined {
  font-size: 52px;
  margin: 10px;
  color: white;
}

.skillBar {
  background-color: #eee;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  width: 100%;
}

.skillBar::before {
  content: attr(data-skill);
  background-color: var(--defaultBlue);
  display: flex;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.skillBar.front::before {
  background-color: var(--defaultBlue);
}

.skillBar.back::before {
  background-color: var(--defaultLightBlue);
}

.skillBar.learning::before {
  width: calc(20% - 10px);
}

.skillBar.basic::before {
  width: calc(40% - 10px);
}

.skillBar.intermediate::before {
  width: calc(70% - 10px);
}

.skillBar.advanced::before {
  width: calc(80% - 10px);
}

.skillBar.expert::before {
  width: calc(100% - 10px);
}

.softwares ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.softwares li {
  display: flex;
}

.softwares img {
  height: 35px;
  pointer-events: none;
}

.primary input+label {
  border: 0;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #f1f1f1;
  color: var(--defaultBlue);
  font-size: 16px;
  cursor: pointer;
}

#s4 .sectionContainer {
  justify-content: flex-start;
}

.primary input:checked+label {
  background-color: var(--defaultBlue);
  color: var(--white);
}

.primary input {
  list-style: none;
  display: none;
}

.contentSlider {
  display: flex;
  justify-content: center;
}

#slidedContent {}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.fadeToRight {
  animation-name: fadeToRight;
  animation-duration: 1.1s;
}

.hidden {
  display: none !important;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--rowPadding);
  background-color: white;
  box-shadow: var(--defaultShadow);
  border-radius: 16px;
  max-width: 250px;
  min-height: 350px;
  text-align: center;

}

.box h2 {
  line-height: 1.1;
}

.box .paragraph {
  display: table;
}

.box p {
  display: inline-block;
  font-size: 12px;
}


.image img {
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
}

.image:hover img {}

.highlight {
  background-color: #f1f1f1;
  padding: 2px 8px;
  border-radius: 6px;
  pointer-events: none;
}


.playHover {
  position: relative;
  border-radius: 16px;
  overflow: hidden;


}

.playHover::before {
  position: absolute;
  display: flex;
  content: 'play_circle';
  font-size: 64px;
  background-color: #ffffff85;
  color: var(--black);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}


.playHover:hover::before {
  backdrop-filter: blur(3px);
  background-color: #ffffffc5;
  font-size: 72px;
}

#s5 .row {
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;

}

.cardHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.yearFormation {
  border-left: 1px solid #f1f1f1;
  padding-left: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;

}

.cardContent p {
  border-bottom: 1px solid #f1f1f1;
}


/* Animation Presets */

@keyframes mouseScroll {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  33% {
    transform: translateY(10px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeToRight {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translatex(0px);
  }
}

@keyframes fadeToLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-200px);
  }
}